@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #4453A8;
    --secondary-color: #5665BA;
    --black-color: #242424;
    --white-color: #ffffff;

    font-family: 'Poppins', serif;
    color: var(--black-color);
}
