@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #febd2e;
    --secondary-color: #fa8100;
    --black-color: #242424;
    --white-color: #ffffff;

    font-family: 'Poppins', serif;
    color: var(--black-color);
}
